*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 20vh;
  background-color: aqua;
}
nav{
    width: 80%;
    height: 20vh;
  background-color: rgb(0, 255, 55);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:space-around;
  
}
ul{
    list-style: none;
     display: flex;
     

     gap: 25px;
     flex-direction: row;
}


a{
  color: azure;
  text-decoration: none;
}